/* Global Styles */

*{
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Global Styles Ends */



.container{
  background: #fff;
  padding: 2rem;
  /* width: 900px; */
  border-radius: 1rem;
  margin-top: 3rems;
}

.todo-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.8rem;
}

h1{
  font-size: 4rem;
}

.img-container{
  height: 9rem;
  width: 9rem;
}

form{
  display: flex;
  gap: 0.8rem;
}
.todo-header img{
  cursor: pointer;
  height: 100%;
  width: 100%;
  /* padding-left: 1.2rem; */
  padding-bottom: 0.5rem;
  object-fit: contain;
}

.todo-input,
.todo-select{
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid black;
  cursor: pointer;

}

form input[type='submit']{
  padding: 0.5rem 0.8rem;
  background: #78c1f3;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  width:12rem;

}

.error{
  font-size: 1.5rem;
  color: rgb(116, 13, 13);
  margin: 1rem 0;
  text-align: center;
}


.single-todo{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 0.8rem 0;
  border-radius: 1rem;
  padding: 1rem;
}

.single-todo h3{
  flex: 1;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  
}

.single-todo p{
  font-size: 1.5rem;
  margin-right: 1rem;
  text-transform: capitalize;
  padding: 0.5rem;
}

.single-todo .complete{
  color: green;
  border: 1px solid green;
}

.single-todo .incomplete{
  color: rgb(240, 74, 74);
  border: 1px solid rgb(240, 74, 74);
}

.btn-container{
  display: flex;
  gap: 0.5rem;
}

.btn-container button{
  padding: 0.4rem 0.5rem;
  background: #78c1f3;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.btn-container .delete{
  background-color: rgb(193, 8, 8);
  color: white;
}

.filter-container{
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: right;
  
}

.filter-select{
  padding: 0.5rem;
  font-size: 1.8rem;
  
}


@media screen and (max-width: 518px){

  html{
    font-size: 40%;
    overflow: hidden;
  }

  .container{
    /* margin: 0.5rem; */
  overflow: hidden;
   
  }

  .error{
    font-size: 2rem;
  }

  
}